---
import { selectDailyFragment, utcDateKey } from "../data/fictionFragments";

type Props = {
  workId: string;
};

const { workId } = Astro.props;
const selection = selectDailyFragment(workId, utcDateKey(new Date()));
const sourceTitle = selection.fragment.sourceTitle ?? selection.pool.title;

function escapeHtml(value: string): string {
  return value
    .replaceAll("&", "&amp;")
    .replaceAll("<", "&lt;")
    .replaceAll(">", "&gt;")
    .replaceAll('"', "&quot;")
    .replaceAll("'", "&#39;");
}

function renderInlineMarkdown(value: string): string {
  return escapeHtml(value).replace(/\*\*([^*\n]+)\*\*/g, "<strong>$1</strong>");
}

const paragraphs = selection.fragment.text
  .split(/\n{2,}/)
  .map((paragraph) => paragraph.trim())
  .filter(Boolean)
  .map((paragraph) => paragraph.split("\n").map(renderInlineMarkdown).join("<br />"));
---

<aside class="fiction-fragment" aria-label={`Narrative fragment from ${sourceTitle}`}>
  <p class="fiction-fragment__label">Narrative Fragment &middot; Fiction Surface</p>
  <blockquote class="fiction-fragment__quote">
    {paragraphs.map((paragraph) => <p set:html={paragraph} />)}
  </blockquote>
  <p class="fiction-fragment__source">From {sourceTitle}</p>
</aside>
